.set-icon(@path, @width: 30px, @height: 30px){
    background-image: url(@path);
    min-width: @width;
    min-height: @height;
}

/*  Main  */
.economic-icon{
    .set-icon('../img/main/economic.svg', 50px, 50px);
}

.screen-icon{
    .set-icon('../img/main/screen.svg', 50px, 50px);
}


/*  Rates  */
.gifts-icon{
    .set-icon('../img/rates/gift.svg', 27px, 27px);
}

.tick-icon{
    .set-icon('../img/rates/tick.svg', 15px, 15px);
}

.startup-icon{
    .set-icon('../img/rates/startup.svg');
}

.commerce-icon{
    .set-icon('../img/rates/commerce-and-shopping.svg');
}

.product-icon{
    .set-icon('../img/rates/product.svg');
}

.qr-icon{
    .set-icon('../img/rates/qr-code.svg');
}

.payment-icon{
    .set-icon('../img/rates/online-payment.svg');
}

.analysis-icon{
    .set-icon('../img/rates/analysis.svg');
}

.update-icon{
    .set-icon('../img/rates/update.svg');
}

.content-icon{
    .set-icon('../img/rates/content.svg');
}

.awareness-icon{
    .set-icon('../img/rates/awareness.svg');
}

.branding-icon{
    .set-icon('../img/rates/branding.svg');
}

.logistic-icon{
    .set-icon('../img/rates/logistic.svg');
}

.app-icon{
    .set-icon('../img/rates/app.svg');
}

/*  Choise  */
.ecommerce-icon{
    .set-icon('../img/choise/ecommerce1.svg', 50px, 50px)
}

.commerce-icon2{
     .set-icon('../img/choise/commerce-and-shopping2.svg', 50px, 50px);
}

.development-icon{
     .set-icon('../img/choise/development1.svg', 50px, 50px);
}

/*  Shops  */
.personal-care-icon{
     .set-icon('../img/shops/personal-care.svg', 50px, 50px);
}

.stroller-icon{
     .set-icon('../img/shops/stroller.svg', 50px, 50px);
}

.kitchen-icon{
     .set-icon('../img/shops/kitchen.svg', 50px, 50px);
}

.under-construction-icon{
     .set-icon('../img/shops/under-construction.svg', 50px, 50px);
}

.arrow-next-icon{
    .set-icon('../img/shops/arrow.svg');
    transform: scale(-1, 1) translateY(-50%)
}

.arrow-prev-icon{
    .set-icon('../img/shops/arrow.svg');
    transform: translateY(-50%)
}



