/*  Default settings  */
html {
  font-size: 10px;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  width: 100vw;
}
.row {
  max-width: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.no-indent {
  padding: 0;
  margin: 0;
}
/* Default button settings*/
/* Default arrow settings*/
/* Default section header settings*/
.section-header {
  margin-top: 9rem;
  text-align: center;
}
.section-header .section-title {
  font-size: 3rem;
  font-weight: 600;
  color: #555555;
}
.section-header .section-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #a3a2a0;
  margin-top: 2rem;
}
/*  Colors  */
/*  Header */
.header {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.header-logo-name {
  font-size: 4rem;
  color: #ffffff;
  display: inline-block;
  margin: 0;
}
.header .navigation-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
.header .navigation-main .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.header .navigation-main .navigation-item {
  display: inline-block;
  margin-top: 1rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.header .navigation-main .navigation-item:hover {
  color: #c7b299;
  text-decoration: none;
}
.header .cart-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .cart-main .cart {
  list-style-type: none;
  width: 100%;
  margin: auto 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .cart-main .cart .cart-item-link {
  color: #ffffff;
  font-size: 2.2rem;
}
.header .cart-main .cart .cart-item-link:hover {
  color: #c7b299;
  text-decoration: none;
}
/*  Main  */
.main {
  height: 100vh;
  max-width: 100vw;
  text-align: center;
}
.main .bg-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.main .bg-slider .slick-list {
  height: 100%;
  width: 100%;
}
.main .bg-slider-item {
  width: 100%;
  min-height: 1024px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.main .bg-slider .item-1 {
  background-image: url('../img/main/bg-1.jpg');
}
.main .bg-slider .item-2 {
  background-image: url('../img/main/bg-2.jpg');
}
.main .bg-slider .item-3 {
  background-image: url('../img/main/bg-3.jpg');
}
.main .bg-slider .item-4 {
  background-image: url('../img/main/bg-4.jpg');
}
.main .bg-slider .item-5 {
  background-image: url('../img/main/bg-5.jpg');
}
.main .bg-slider .slick-arrow {
  font-size: 7rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.main .bg-slider .arrow-right {
  opacity: 0.6;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
  border-top: 2px solid #a3a2a0;
  border-right: 2px solid #a3a2a0;
  right: 10%;
}
.main .bg-slider .arrow-right:hover {
  cursor: pointer;
  opacity: 1;
}
.main .bg-slider .arrow-left {
  opacity: 0.6;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
  border-top: 2px solid #a3a2a0;
  border-right: 2px solid #a3a2a0;
  left: 10%;
}
.main .bg-slider .arrow-left:hover {
  cursor: pointer;
  opacity: 1;
}
.main-content {
  text-align: center;
  color: #ffffff;
  width: 100%;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-content-suptitle {
  font-size: 3.6rem;
  font-weight: 500;
}
.main-content-title {
  font-size: 5.2rem;
  font-weight: 700;
}
.main-content-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 3rem 0 6rem 0;
}
.main-content .get_started-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #998675;
  padding: 2rem 3rem;
  border: 2px solid transparent;
  border-radius: 3px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.main-content .get_started-button:hover {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
}
/* Services */
.services {
  padding: 6rem 0;
  text-align: center;
}
.services-slider-item {
  padding: 1.5rem;
}
.services-slider-item .slider-icon {
  font-size: 5rem;
  color: #555555;
}
.services-slider-item .slider-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #555555;
  margin-top: 2.5rem;
}
.services-slider-item .slider-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #a3a2a0;
  margin-top: 1.5rem;
}
/*  Your ideas  */
.your_ideas {
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.your_ideas .container {
  max-width: 70%;
  padding: 0;
  margin: 0 20rem;
}
.your_ideas-images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4rem;
}
.your_ideas-images-item-1 {
  position: absolute;
  left: 0;
  border-radius: 3px 3px 0 0;
}
.your_ideas-images-item-1:hover {
  z-index: 2;
}
.your_ideas-images-item-2 {
  position: relative;
  z-index: 1;
  border-radius: 3px 3px 0 0;
}
.your_ideas-images-item-3 {
  position: absolute;
  right: 0;
  border-radius: 3px 3px 0 0;
}
.your_ideas-images-item-3:hover {
  z-index: 2;
}
/*  Offer  */
.offer {
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(to right, #211b19, #4e3427);
  border-top: 2px solid #ffffff;
}
.offer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
}
.offer-text_box {
  color: #ffffff;
}
.offer-title {
  font-size: 2.8rem;
}
.offer-title span {
  color: #c7b299;
}
.offer-description {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #a3a2a0;
}
.offer-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #998675;
  padding: 2rem 3rem;
  border: 2px solid transparent;
  border-radius: 3px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.offer-button:hover {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
}
/* Our latest projects */
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .container {
  max-width: 90%;
  padding: 0;
  margin: 0 5rem;
}
.projects .categories-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects-categories {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-top: 4rem;
}
.projects-categories-item {
  margin-top: 2rem;
}
.projects-categories .item-link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #a3a2a0;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 0.8rem 1.8rem;
  margin: 0rem 1rem;
}
.projects-categories .item-link:hover {
  color: #ffffff;
  background-color: #c7b299;
  border-color: #c7b299;
}
.projects-categories .active-link {
  color: #ffffff;
  background-color: #998675;
  border-color: #998675;
}
.projects-content {
  min-width: 100%;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects-content .content-block {
  display: inline-block;
  margin: 0 1.5rem 1.5rem 1.5rem;
  /* Image */
  /* Block`s text */
  /*  Content block hover  */
}
.projects-content .content-block-image {
  position: relative;
  /* Link on image */
  /*  Image darkening  */
}
.projects-content .content-block-image .block-links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  font-size: 3rem;
  opacity: 0;
}
.projects-content .content-block-image .block-links .link {
  color: #c7b299;
  margin-right: 1rem;
}
.projects-content .content-block-image .block-links .search {
  color: #ffffff;
}
.projects-content .content-block-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #362f2d;
  opacity: 0;
  z-index: 2;
}
.projects-content .content-block-text {
  padding: 2rem 3rem;
  background-color: #fbfaf8;
  margin-bottom: 1.5rem;
  position: relative;
  /*  Triangle  */
}
.projects-content .content-block-text .block-title {
  font-size: 2rem;
  font-weight: 500;
  color: #c7b299;
}
.projects-content .content-block-text .block-description {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #a3a2a0;
}
.projects-content .content-block-text:after {
  content: '';
  position: absolute;
  z-index: 3;
  left: 20px;
  top: -28px;
  border: 15px solid transparent;
  border-bottom: 15px solid #fbfaf8;
}
.projects-content .content-block:hover .content-block-image {
  /* Link on image */
}
.projects-content .content-block:hover .content-block-image .block-links {
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
  opacity: 1;
}
.projects-content .content-block:hover .content-block-image:after {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0.55;
}
.projects-content .content-block:hover .content-block-text {
  background-color: #362f2d;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.projects-content .content-block:hover .content-block-text .block-title {
  color: #ffffff;
}
.projects-content .content-block:hover .content-block-text .block-description {
  color: #c7b299;
}
.projects-content .content-block:hover .content-block-text:after {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-bottom: 15px solid #362f2d;
}
/*  -------- MEDIA QUERIES ---------  */
/*  ------------ Laptop ------------  */
/*  --------------------------------  */
@media screen and (max-width: 1440px) {
  /* Our latest projects */
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .container {
    max-width: 90%;
    padding: 0;
    margin: 0;
  }
}
/*  ------------ Tablet ------------  */
/*  --------------------------------  */
@media screen and (max-width: 780px) {
  /*  Header  */
  .header .navigation-main .navigation {
    margin-top: 4rem;
    display: block;
  }
  .header .navigation-main .navigation-item {
    margin-left: 2rem;
  }
  .header .cart-main {
    padding: 0;
  }
  .header .cart-main .cart {
    display: none !important;
  }
  /*  Your ideas  */
  .your_ideas {
    height: 100% !important;
  }
  .your_ideas .container {
    max-width: 70%;
    padding: 0;
    margin: 0 20rem;
  }
  .your_ideas-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4rem;
  }
  .your_ideas-images-item-1 {
    display: none;
  }
  .your_ideas-images-item-2 {
    height: auto;
    width: 100vw;
  }
  .your_ideas-images-item-3 {
    display: none;
  }
  .offer-title {
    font-size: 2rem;
  }
  .offer-description {
    font-size: 1.4rem;
  }
}
/*  ------------ Mobile ------------  */
/*  --------------------------------  */
@media screen and (max-width: 340px) {
  html {
    font-size: 7px;
  }
  /*  Header  */
  .header-logo-img {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .header-logo-name {
    font-size: 3rem;
  }
  /*  Main  */
  .main .bg-slider .arrow-right {
    opacity: 0.6;
    width: 2.5rem;
    height: 2.5rem;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
    border-top: 2px solid #a3a2a0;
    border-right: 2px solid #a3a2a0;
    right: 7%;
  }
  .main .bg-slider .arrow-right:hover {
    cursor: pointer;
    opacity: 1;
  }
  .main .bg-slider .arrow-left {
    opacity: 0.6;
    width: 2.5rem;
    height: 2.5rem;
    -webkit-transform: rotateZ(225deg);
            transform: rotateZ(225deg);
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
    border-top: 2px solid #a3a2a0;
    border-right: 2px solid #a3a2a0;
    left: 7%;
  }
  .main .bg-slider .arrow-left:hover {
    cursor: pointer;
    opacity: 1;
  }
  .main-content {
    top: 40%;
  }
  .main-content-suptitle {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .main-content-title {
    font-size: 4rem;
  }
  /*  Offer  */
  .offer-main {
    text-align: center;
    padding: 4rem 0;
    display: list-item;
  }
  .offer-text_box {
    display: block;
    width: 100%;
  }
  .offer-title {
    font-size: 2.8rem;
    line-height: 1.3;
  }
  .offer-description {
    margin: 1rem 0 3rem 0;
    font-size: 1.8rem;
  }
  .offer-button-main {
    margin-top: 3rem;
    display: inline-block;
  }
  .offer-button {
    margin-top: 22rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #998675;
    padding: 1.5rem 2.6rem;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  .offer-button:hover {
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
  }
  /* Our latest projects */
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .container {
    max-width: 90%;
    padding: 0;
    margin: 0 5rem;
  }
  .projects .categories-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-categories {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-top: 4rem;
  }
  .projects-categories-item {
    margin-top: 2rem;
  }
  .projects-categories .item-link {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #a3a2a0;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 0.8rem 1.8rem;
    margin: 0rem 1rem;
  }
  .projects-categories .item-link:hover {
    color: #ffffff;
    background-color: #c7b299;
    border-color: #c7b299;
  }
  .projects-categories .active-link {
    color: #ffffff;
    background-color: #998675;
    border-color: #998675;
  }
  .projects-content {
    min-width: 100%;
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects-content .content-block {
    display: inline-block;
    margin: 0 1.5rem 1.5rem 1.5rem;
    /* Image */
  }
  .projects-content .content-block-image {
    position: relative;
  }
  .projects-content .content-block-image img {
    height: 100%;
    width: 100%;
  }
}
