/*  Main  */
.economic-icon {
  background-image: url('../img/main/economic.svg');
  min-width: 50px;
  min-height: 50px;
}
.screen-icon {
  background-image: url('../img/main/screen.svg');
  min-width: 50px;
  min-height: 50px;
}
/*  Rates  */
.gifts-icon {
  background-image: url('../img/rates/gift.svg');
  min-width: 27px;
  min-height: 27px;
}
.tick-icon {
  background-image: url('../img/rates/tick.svg');
  min-width: 15px;
  min-height: 15px;
}
.startup-icon {
  background-image: url('../img/rates/startup.svg');
  min-width: 30px;
  min-height: 30px;
}
.commerce-icon {
  background-image: url('../img/rates/commerce-and-shopping.svg');
  min-width: 30px;
  min-height: 30px;
}
.product-icon {
  background-image: url('../img/rates/product.svg');
  min-width: 30px;
  min-height: 30px;
}
.qr-icon {
  background-image: url('../img/rates/qr-code.svg');
  min-width: 30px;
  min-height: 30px;
}
.payment-icon {
  background-image: url('../img/rates/online-payment.svg');
  min-width: 30px;
  min-height: 30px;
}
.analysis-icon {
  background-image: url('../img/rates/analysis.svg');
  min-width: 30px;
  min-height: 30px;
}
.update-icon {
  background-image: url('../img/rates/update.svg');
  min-width: 30px;
  min-height: 30px;
}
.content-icon {
  background-image: url('../img/rates/content.svg');
  min-width: 30px;
  min-height: 30px;
}
.awareness-icon {
  background-image: url('../img/rates/awareness.svg');
  min-width: 30px;
  min-height: 30px;
}
.branding-icon {
  background-image: url('../img/rates/branding.svg');
  min-width: 30px;
  min-height: 30px;
}
.logistic-icon {
  background-image: url('../img/rates/logistic.svg');
  min-width: 30px;
  min-height: 30px;
}
.app-icon {
  background-image: url('../img/rates/app.svg');
  min-width: 30px;
  min-height: 30px;
}
/*  Choise  */
.ecommerce-icon {
  background-image: url('../img/choise/ecommerce1.svg');
  min-width: 50px;
  min-height: 50px;
}
.commerce-icon2 {
  background-image: url('../img/choise/commerce-and-shopping2.svg');
  min-width: 50px;
  min-height: 50px;
}
.development-icon {
  background-image: url('../img/choise/development1.svg');
  min-width: 50px;
  min-height: 50px;
}
/*  Shops  */
.personal-care-icon {
  background-image: url('../img/shops/personal-care.svg');
  min-width: 50px;
  min-height: 50px;
}
.stroller-icon {
  background-image: url('../img/shops/stroller.svg');
  min-width: 50px;
  min-height: 50px;
}
.kitchen-icon {
  background-image: url('../img/shops/kitchen.svg');
  min-width: 50px;
  min-height: 50px;
}
.under-construction-icon {
  background-image: url('../img/shops/under-construction.svg');
  min-width: 50px;
  min-height: 50px;
}
.arrow-next-icon {
  background-image: url('../img/shops/arrow.svg');
  min-width: 30px;
  min-height: 30px;
  -webkit-transform: scale(-1, 1) translateY(-50%);
          transform: scale(-1, 1) translateY(-50%);
}
.arrow-prev-icon {
  background-image: url('../img/shops/arrow.svg');
  min-width: 30px;
  min-height: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
